body {
    background: #b7b7b7 !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23000000' fill-opacity='0.05' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
    z-index: 1;
}

.bgtexture {

}

i.darkblue.icon {
    color: #1e4ca1 !important;
}

.segmentbg {
    background: #9f9f9f !important;
}

.sg-trans {
    background: rgba(183, 183, 183, .8) !important;
}

#foresthero {
    background-image: url("../img/foresthero.png");
    z-index: 2;
}

.landing {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
}

.transparency {
    background: rgba(0, 0, 0, 0.6) !important;
}


.ontop {
    position:relative;
}

.verticalcenter {
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.vertpadding {
    padding: 4em 0 !important;
}
.segmentpad {
    margin-top: 30px !important;
}

.floatl {
    float: left;
}

.ui.mobile.only.grid .ui.menu .ui.vertical.menu {
    display: none;
  }

  .ui.huge.header {
    font-size: 36px;
  }

  .ui.inverted.menu {
    border-radius: 0;
    flex-wrap: wrap;
    border: none;
    padding-left: 0;
    padding-right: 0;
  }

.smallcolumn {
    max-width: 450px !important;
}

.bgnone {
    background: none !important;
}

.footerpad {
    padding-top: 50px;
    padding-bottom: 50px;
}

.projectheader {
    font-size: 54px !important;
}

.projectspacing {
    margin-top: 5em !important;
    margin-bottom: 2em !important;
}