body {
    background: #b7b7b7 !important;
}

i.darkblue.icon {
    color: #1e4ca1 !important;
}

#foresthero {
    background-image: url("../img/foresthero.png");
}

.landing {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
}

.transparency {
    background: rgba(0, 0, 0, 0.6) !important;
}

.ontop {
    position:relative;
}

.verticalcenter {
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.vertpadding {
    padding: 4em 0 !important;
}

